# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.local.*
.env.prod
.env.preview
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Playwright
/apps/web/playwright-report/
/apps/web/blob-report/
/apps/web/test-results/
/apps/web/e2e/.auth/
/apps/web/playwright/.clerk/

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem

# Prisma
*.db
*.db-journal

# Supabase local
supabase/.temp/
supabase/.branches/
